@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --content-font-family: "Comfortaa";
  --heading-font-size: 2.5rem;
  --bcg-main-color: #faf1ca;
  --main-text-color: #262733;
}

body {
  background-color: var(--bcg-main-color);
  font-family: var(--body-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

#resetPassword {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.reset_password_container {
  width: 25%;
  margin: 20px 0;
  background-color: var(--main-text-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 4px 3px rgb(87, 87, 87);

  justify-content: center;
  transform: scale(1.2);
}

.reset_password_container h2 {
  font-family: "Poppins", sans-serif;
}

#forgotPassword {
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reset_password_container h2 {
  font-size: 1.5rem;
  /* font-family: var(--heading-font-family); */
  margin: 10px 0;
}

.reset_password_container p {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

#forgotPassword input {
  width: 100%;
  font-size: 0.7rem;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

#forgotPassword input[type="submit"] {
  font-size: 0.8rem;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 600;
  border: 1.5px solid;
  cursor: pointer;
  background-color: rgb(242, 171, 48);
  margin-bottom: 20px;
  transition: all linear 0.2s;
}
#forgotPassword input[type="submit"]:hover {
  background-color: var(--bcg-main-color);
}

.reset_password_container p a {
  text-decoration: underline;
  color: #fff;
}
.reset_password_container p a:hover {
  color: var(--bcg-main-color);
}
