
<footer class="footer">
  <div class="spacer layer3"></div>
      <div class="container" style="font-family: Comfortaa;">
        <div class="col1">
            <img class="exclude-animation" style="max-height: 60px; margin-inline: auto; padding-bottom: 1rem;" src="/images/Logo-White.png">
          <a href="#" class="brand">Darshan&trade;</a>
          <ul class="media-icons">
            <li>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-discord"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-github"></i></a>
            </li>
          </ul>
        </div>
        <div class="col2">
            <p class="quickLinks">Quick Links</p>
          <ul class="menu">

            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Explore</a></li>
          </ul>
        </div>
        <div class="col3">
          <p>Subscribe to our newsletter</p>
          <form action="/send/subscription" method="POST">
            <div class="input-wrap">
              <input name="email" type="email" placeholder="ex@gmail.com" /><button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </form>
          <ul class="services-icons">
            <p style="margin-top: 3em;">Donate us:</p>
            <li>
              <a href="#"><i class="fa-brands fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-cc-apple-pay"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-google-pay"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-cc-amazon-pay"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="mekk">
          <p>&copy; Darshan 2024 - All Rights Reserved</p>
        </div>
      </div>
    </footer>
        <script src="/js/explorebtn.js"></script>
        <script src="/js/GSAP_Animations.js"></script>
</body>

</html>

<!-- Do not modify without asking -->
