<%- include('includes/head.ejs') %>
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <%- include('includes/navigation.ejs') %>
    <h1 style=" margin-top: 10%;">Internal Server Error!</h1>

<%- include('includes/end.ejs') %>