<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/auth/errors.css" />
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %>


<div id="about-us">
  <h1 class="about-us-heading">
    About Us
  </h1>
  <div class="about-us-text">
    <p class="para1">
      Welcome to India Darshan, your gateway to the vibrant tapestry of Indian culture and heritage. Our passion lies in unveiling the myriad facets of this ancient land, from its awe-inspiring historical landmarks to its colorful festivals. At India Darshan, we embark on a mission to showcase India's unparalleled diversity.
    </p>
    <p class="para2">
      Our dedicated team of culture enthusiasts and history buffs works tirelessly to curate authentic, engaging content. We strive to offer a comprehensive view of India's rich history and its dynamic present, highlighting the intricate threads that weave together to form the fabric of Indian society.
    </p>
    <p class="para3">
      Join us as we journey through the land of a thousand wonders, updating and educating our audience on the ever-evolving story of India. We celebrate a narrative of unity in diversity, of tradition embracing modernity, and of a legacy that continues to inspire the world.
    </p>
    <p class="para4">
      Through India Darshan, experience the magic of India – a country where every stone tells a story, every festival ignites the soul, and every tradition carries the wisdom of ages. Dive into the heart of Indian culture with us and discover the timeless allure of this incredible nation.
    </p>
  </div>
</div>
<!-- meet our mentor -->


<!-- meet the team section -->
<div class="meet-team">
  <h2 class="meet-team-heading">Meet Our Team</h2>
  <p class="meet-team-sub-heading">Discover the passionate minds behind India Darshan</p>
  <div class="all-team">
    <!-- start -->
    <div class="team-member">
      <div class="team-member-img">
        <div class="background-img"></div>
        <img src="/images/About/man1.png" alt="Kanishk Pandey">
      </div>
      <div class="team-member-info">
        <h2>Kanishk Pandey</h2>
        <p>Full Stack Developer</p>
        <p class="team-member-insta"><i class="fab fa-instagram" style="color: #ec135f;"></i><a href="https://www.instagram.com/kanishkkpandey/" target="_blank">@kanishkkpandey</a></p>
      </div>
    </div>
    <!-- end -->
    <!-- start -->
    <div class="team-member">
      <div class="team-member-img">
        <div class="background-img"></div>
        <img src="/images/About/man3p.png" alt="Kanishk Pandey">
      </div>
      <div class="team-member-info">
        <h2>Aman Raj</h2>
        <p>Frontend Developer</p>
        <p class="team-member-insta"><i class="fab fa-instagram" style="color: #ec135f;"></i><a href="https://www.instagram.com/razz_28.02/" target="_blank">@razz_28.02</a></p>
      </div>
    </div>
    <!-- end -->
    <!-- start -->
    <div class="team-member">
      <div class="team-member-img">
        <div class="background-img"></div>
        <img src="/images/About/man4p.png" alt="Kanishk Pandey">
      </div>
      <div class="team-member-info">
        <h2>Om Satodiya</h2>
        <p>Frontend Developer</p>
        <p class="team-member-insta"><i class="fab fa-instagram" style="color: #ec135f;"></i><a href="https://www.instagram.com/om_satodiya/" target="_blank">@om_satodiya</a></p>
      </div>
    </div>
    <!-- end -->
    <!-- start -->
    <div class="team-member">
      <div class="team-member-img">
        <div class="background-img"></div>
        <img src="/images/About/man2 (2).png" alt="Kanishk Pandey">
      </div>
      <div class="team-member-info">
        <h2>Parth Gandhi</h2>
        <p>Frontend Developer</p>
        <p class="team-member-insta"><i class="fab fa-instagram" style="color: #ec135f;"></i><a href="https://www.instagram.com/parthgandhi2412/" target="_blank">@parthgandhi2412</a></p>
      </div>
    </div>
    <!-- end -->
    
  </div>
</div>

<%- include('./includes/end.ejs') %>