    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/contribute.css" />
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <div class="contribute_hero">
        <div class="contribute_left">
            <div class="contribute_hero_content">
            <h1>Contribute Your Stories on Heritage, Festivals, and Culture!</h1>
            <h4>Be a Part of Us</h4>
            <button><a href="/login">Contribute</a></button>
            </div>
        </div>
        <div class="contribute_right">
            <div class="laptop">
            <img class="exclude-animation" src="/images/contribute/lap-removebg-preview.png" alt="" />
            <video autoplay loop src="/images/contribute/Recording 2024-08-07 222429.mp4"></video>
            </div>
        </div>
        </div>

        <div class="section_divider"></div>

        <!-- what contribute  -->
        <div class="contribute_what">
        <div class="contribute_what_left">
            <img class="exclude-animation" src="/images/contribute/contri.jpg" alt="" />
        </div>
        <div class="contribute_what_right">
            <h1>What You Can Contribute ?</h1>
            <div class="content">
            <div class="sub_content">
                <img class="exclude-animation" src="/images/contribute/fireworks.png" alt="" />
                <h3>Local Festivals</h3>
            </div>
            <div class="sub_content">
                <img class="exclude-animation" src="/images/contribute/angkor-wat.png" alt="" />
                <h3>Heritage Sites</h3>
            </div>
            <div class="sub_content">
                <img class="exclude-animation" src="/images/contribute/thai.png" alt="" />
                <h3>Cultural Practices</h3>
            </div>
            </div>
        </div>
        </div>

        <div class="section_divider"></div>

        <!-- login/signup sec -->
        <div class="contribute_set_up">
        <div class="contribute_set_up_left">
            <h1>Step By Step Process</h1>
            <div class="content">
            <h3>Login/ Sign Up</h3>
            <p>Login into Your Account if you don't have an account</p>
            </div>
        </div>
        <div class="contribute_set_up_right">
            <img class="exclude-animation" src="/images/contribute/lap-removebg-preview.png" alt="" />
            <video autoplay loop src="/images/Contribute/Zoom1.mp4"></video>
        </div>
        </div>

        <div class="section_divider"></div>

        <!-- user dashboard sec -->
        <div class="contribute_set_up">
        <div class="contribute_set_up_right">
            <img class="exclude-animation" src="/images/contribute/lap-removebg-preview.png" alt="" />
            <video autoplay loop src="/images/contribute/DashboardVid.mp4"></video>
        </div>
        <div class="contribute_set_up_left">
            <h1>User's Dashboard</h1>
            <div class="content">
            <h3>New Post</h3>
            <p>You can add New Post</p>
            </div>
            <div class="content">
            <h3>Edit Post</h3>
            <p>You can Edit Post</p>
            </div>
            <div class="content">
            <h3>Delete Post</h3>
            <p>You can Delete Post</p>
            </div>
        </div>
        </div>

        <div class="section_divider"></div>

        <!-- add post sec -->
        <div class="contribute_set_up">
        <div class="contribute_set_up_left">
            <h1>Add Post Form</h1>
            <div class="content">
            <h3>Upload Image</h3>
            <p>Upload a relevant image to your post</p>
            </div>
            <div class="content">
            <h3>Add Post</h3>
            <p>Write and Select the relevant information</p>
            </div>
        </div>
        <div class="contribute_set_up_right">
            <img class="exclude-animation" src="/images/contribute/lap-removebg-preview.png" alt="" />
            <video autoplay loop src="/images/contribute/Post.mp4"></video>
        </div>
        </div>
<%-include('./includes/end.ejs')  %>