@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
  padding-top: 30px;
  background-color: beige;
}

.filters {
  width: 95vw;
  background-color: #c8b99f;
  border-radius: 5px;
  height: max-content;
  margin-inline: auto;
  margin-bottom: 1.5%;

  padding: 0.8rem 1rem;
  display: flex;
  align-items: end;
  gap: 1rem;
}
.filters__buttons {
  display: flex;
  align-items: center;
  font-family: Comfortaa;
  width: max-content;
  height: 30px;
  font-size: 1rem;
  background-color: #ffa857;
  gap: 0.3rem;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  transition: all 0.3s;
}

.v2 {
  background-color: var(--main-text-color);
  color: orange;

  transition: all 0.3s;
}

.v2:hover {
  background-color: #141419 !important;
}

.filters__buttons:hover {
  background-color: #eb9b50;
}
.filters__dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.custom-dropdown {
  padding: 0.8rem 4rem 0.8rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: orange;
  background: #232433;
  border: none;
}
.custom-dropdown:focus,
.custom-dropdown:focus {
  border: none;
}
.custom-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-text-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  right: 0;
  height: 70%;
  width: 3rem;

  color: orange;
  pointer-events: none;
}

.custom-arrow i {
  transition: all 0.3s;
}
option:nth-child(2n) {
  background-color: #141419;
}
option:focus-within {
  background-color: #373950;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1.5rem;
}
.post {
  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.86);
  height: 23rem;
  width: 25rem;
  background-color: #232433;
  padding: 0.7rem 0.7rem;
  border-radius: 5px;
}

.post__img {
  flex: 5;
  display: flex;
}
.post__img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px;
  max-height: 14rem;
}
.post__content {
  display: flex;
  flex-direction: column;
  flex: 4;
}
.post__content__heading {
  font-size: calc(10px + 2vw); /* Responsive font size */
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  color: #ffa857;
}
.post__content__subheading {
  position: relative;
  top: -4%;
  font-size: calc(3px + 1vw); /* Responsive font size */
  text-align: center;
  font-family: "Noto Sans";
  color: white;
}
.post__bottom-row {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.post__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post__buttons i {
  transition: all 0.3s;
}
.post__buttons i:hover {
  scale: 1.2;
}
