* {
    padding: 0; 
    margin: 0;
     box-sizing: border-box;
    /* overflow-y: hidden; */
}

.logo img {
    /* height: 1%; */
    width: 90%;
    margin: 2%;
    padding: 2%;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: start;
    align-content: end;
    /* align-items: end; */
}
.subNav{
    color: aliceblue;
    font-size: x-large;
    margin-top: 2%;
}
/* #logo-title{
    color: aliceblue;
    margin-right: 30%;
  
    font-size: larger;
    margin-top: 20%;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
.logo div{
    width: 50%;
}


.first {
    position: relative;
    /* height: 100vh; */
    overflow-y: hidden;
}

.wrapper {
    height: 100vh;
    /* position: relative; */
    display: flex;
    perspective: 10px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* align-items: center; */
    /* overflow-y: hidden; */
}

.subParallax {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.parallax {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

/* .parallax{
    position: absolute;
} */
.heading {
    position: absolute;
    z-index: 1;
    font-size: 450px;
    color: aliceblue;
    /* text-align: center; */
    /* align-items: center; */
    margin-left: 10%;
    /* margin-bottom: 80%; */
    margin-top: -15%;
    transform: translateZ(-30px) scale(4);
}

/* .parallax p {
    position: absolute;
    z-index: 8;
} */

#foreground {
    z-index: 2;
    transform: translateZ(-10px) translateY(0px) translateX() scale(2);
}

#background {
    /* transform: translateZ(-30px); */
    /* z-index: 1; */
    transform: translateZ(-30px) scale(4);
    
}

.navBar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    /* margin: 2%; */
}

/* .heading{
    align-self: center;
    text-align: center;
    font-size: 1140;
} */
 

.header {
    display: flex;
    justify-content: space-between;
 
    height: 10%;
    position: absolute;
    z-index: 1;


}
.header a{
    text-decoration: none;
    color: aliceblue;
}
.subNav{
    /* width: 10%; */

}
#gradient_effect_button_orange{
    background-image: linear-gradient(to right,red ,orange);
    border-radius: 30%;
    /* width: 200px; */
    padding: 0 2% 0 2%;
    height: 50%;
    /* width: 20%; */
    transform: scaleX();
}
.last{
    position: fixed;
    background-image: linear-gradient(to right,rgb(72, 22, 101) ,rgb(192, 7, 180));
    margin-top: 90vh;
    margin-left: 65vw;
    width: 500px;
    border-radius: 20%;
    padding-top: 1%;
    /* height: 70%; */
    z-index: 1;
    color: aliceblue;
    font-size: x-large;
}
#gradient_effect_button_purple{
    
  
    /* width: 20px; */
    padding: 0 2% 0 2%;
    height:50px ;
    /* width: 20%; */
    transform: scaleX();
}