@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

:root {
  --main-text-color: #262733;
  --main-bg-color: #faf1ca;

  --heading-font-family: "Playfair Display", serif;
  --sub-heading-font-family: "Poppins", sans-serif;
  --content-font-family: "Comfortaa";
  --heading-font-size: 2.5rem;
  --input-change-color: orange;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 130px;
  color: white;
}

.btn-link {
  height: 49px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 70px;
  font-size: 23px;
  position: relative;
  text-decoration: none;
  position: relative;
}

.btn-fill {
  background: #faa23e;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: inherit;
  transition: background 1s;
}

.btn-title {
  font-size: 23px;
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateZ(0);
  color: white;
}

.btn-content {
  font-weight: normal;
  color: white !important;
}

.btn-ripple {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
}

.btn-ripple.v1 {
  background: #ea9329;
}

.btn-ripple.v2 {
  background: #f19010;
}

* {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}
.pageBreak {
  width: 90%;
  margin: 4rem auto; /* Center the hr and add space around it */
  border: none; /* Remove default border */
  height: 2px;
  background-color: var(--main-text-color);
}

.background {
  position: relative;
  width: 100vw;
  height: 800px;
  z-index: 1;
}
.foreground {
  position: absolute;
  width: 100vw;
  height: 800px;

  z-index: 10;
  top: 0;
  left: 0;
}

.title {
  position: absolute;
  z-index: 5;
  top: 0%;
  left: 33%;

  font-family: "DM Serif Display", serif;
  font-optical-sizing: auto;
  letter-spacing: 20px;
  font-style: normal;
  font-size: 300px;
  color: white;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  z-index: 50;
  right: 3%;
  top: 78%;
  width: 500px;
  height: 72.2px;

  border-radius: calc(72.2px / 2);
  padding-left: 30px;
  padding-right: 20px;

  transition: all 0.3s;
}

.subheader {
  background: linear-gradient(270deg, var(--main-text-color), #26252c, #27272a);
  background-size: 800% 800%;

  animation: background-pan 7s ease infinite;
}
@keyframes background-pan {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
.subheader:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.subheading {
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.buttonWrapper {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.3s;
}

.buttonWrapper:hover {
  text-shadow: #522789;
}

/* MISSION PAGE */

.mission-div {
  display: grid;

  grid-template-areas: "title" "image" "textbox" "button";

  position: relative;
  width: 100vw;
  background-color: var(--main-bg-color);

  box-sizing: border-box;
  padding: 0 5%;
  padding-top: 8rem;
}

.mission-title {
  grid-area: title;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  color: var(--main-text-color);
}

.mission-textbox {
  grid-area: textbox;

  width: 80%;
  font-size: 1.25rem;
}

.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0.5em;
  border: 2px solid var(--main-text-color);
  border-radius: 3rem;

  font-size: 1.2rem;

  background-image: linear-gradient(
    to left,
    #f1be60 50%,
    var(--main-text-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-in-out;
}
.btn-2:hover {
  background-position: left bottom;
  color: #f1be60;
}

.mission-image {
  grid-area: image;

  margin-top: 7%;
  object-fit: contain;
  transition: all 0.3s;
}

.mission-image img {
  position: relative;
  /* z-index: 5; */
}

.image-caption {
  position: relative;
  display: block;
  width: 100%;

  opacity: 0;
  z-index: 1;

  bottom: 10%; /* Start off-screen from the bottom */
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 0;
  background-color: var(--main-text-color);
  color: #f1be60;
  transition: all 0.5s ease; /* Smooth transition for the bottom property */

  text-align: center;
}

.mission-image:hover .image-caption {
  opacity: 1;
  bottom: 0%; /* Slide in from the top on hover */
}

@media (1152px < width < 1430px) {
  .mission-title {
    font-size: 4rem;
  }
  .mission-textbox,
  .btn-2 {
    font-size: 1.125rem;
  }
}
@media (885px < width < 1152px) {
  .mission-title {
    font-size: 3rem;
  }
  .mission-textbox,
  .btn-2 {
    font-size: 1rem;
  }
  .btn-2 {
    width: 15%;
  }
}
@media (width < 885px) {
  .mission-title {
    font-size: 2.5rem;
  }
  .mission-textbox,
  .btn-2 {
    font-size: 0.825rem;
  }
  .btn-2 {
    width: 15%;
  }
}
@media (min-width: 768px) {
  .mission-div {
    grid-template-columns: 2.5fr 2fr;
    row-gap: 2rem;
    grid-template-areas:
      "title image"
      "textbox image"
      "button button";
  }
}
@media (max-width: 768px) {
  .mission-div {
    grid-template-columns: 100%;
    gap: 0.75rem;
    grid-template-areas:
      "title"
      "image"
      "textbox"
      "button";
  }
  .mission-title {
    display: inline-block;
  }
  .mission-image {
    margin: 0;
  }
}

/* PHOTOGALLERY PAGE */
.photoGalleryPage {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #faf1ca;
}

.photoGallery-title {
  font-family: "PlayFair Display";
  text-align: center;
  font-size: 5rem;
  color: var(--main-text-color);
}
.photoGallery {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.image,
figure {
  width: 50vmin;
  height: 60vmin;
  object-fit: cover;
  object-position: center;
}
figure {
  position: relative;
  margin-left: 0.1%;
  filter: grayscale(100%);
  border: 5px solid #887e53;
  border-image: linear-gradient(270deg, #580db8, #891367) 1;

  transition: all 0.3s;
}
figcaption {
  z-index: -1;
  position: absolute;
  top: 92%;
  left: 3%;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  background-color: var(--main-text-color);
  padding: 0 0.3rem;
  border-radius: 3px;
  transition: all 0.3s;
}
figure:hover {
  figcaption {
    z-index: 11;
  }
  filter: grayscale(0%);
}
#image-track {
  display: flex;
  /* gap: -6vmin; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

/* FEATURES PAGE */

#featured {
  background-color: var(--main-bg-color);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 900;
  margin-bottom: 7rem;
  color: var(--main-text-color);
}
.heading h1 {
  font-family: var(--heading-font-family);
  font-size: 5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  scale: 1.2;
}

.card {
  border: 10px solid #dfd3b0;
  margin: 30px;
  border-radius: 5px;
}
.card img {
  object-fit: cover;
  transition: all 0.3s;
}
.card {
  background-color: var(--light-color);
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.card > img {
  width: 100%;
  height: 100%;
}
.card h2 {
  width: 100%;
  height: 100%;
  font-family: var(--heading-font-family);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 15px 0;
}
.content {
  font-family: var(--content-font-family);
  position: absolute;
  bottom: -50rem;
  left: 1rem;
  line-height: 1rem;
  color: white;
  padding: 0 1rem;
  transition: all 0.3s;
}
.content p {
  font-size: 1rem;
  margin: 8px 0;
  font-weight: 300;
}
.card:hover .content {
  bottom: 1rem;
}
.card:hover img {
  filter: brightness(0.4);
}

.featured-btn {
  color: var(--main-text-color);
  width: 80px;
  height: 30px;
  border: 2px solid var(--main-text-color);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to left, #f1be60 50%, var(--main-text-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-in-out;
}

.featured-btn:hover {
  background-position: left bottom;
  color: #f1be60;
}

/* FEEDBACK PAGE */

#feedback {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
  box-sizing: border-box;
}

.main-heading {
  font-family: var(--heading-font-family);
  color: var(--main-text-color);
  font-size: 4.5rem;
}

.feedback-content {
  font-family: var(--sub-heading-font-family);
  font-size: 2rem;
}

.name {
  display: flex;
}

#feedback-form {
  margin: 5% 0;
  width: 85%;
}

#feedback-form input,
#feedback-form select,
#feedback-form textarea {
  background-color: var(--main-bg-color);
  border: none;
  padding: 5px;
  width: 100%;
  margin: 10px;
  border-bottom: 2px solid var(--main-text-color);
  font-family: var(--sub-heading-font-family);
  font-size: 1rem;

  transition: all 0.3s;
}

input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--input-change-color);
}

#feedback-submit {
  margin: 20px 10px;
  color: var(--main-text-color);
  width: 90px;
  height: 40px;
  border: 2px solid var(--main-text-color);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to left, #f1be60 50%, var(--main-text-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-in-out;
}

#feedback-submit:hover {
  background-position: left bottom;
  color: #f1be60;
}

#map-svnit {
  width: 400px;
  height: 350px;
  margin-left: 5vw;
  margin-right: 5vw;
}
