@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

:root {
  --main-text-color: #262733;
  --main-bg-color: #faf1ca;
}

* {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}
.pageBreak {
  width: 91%;
  margin: 6rem auto; /* Center the hr and add space around it */
  border: none; /* Remove default border */
  height: 2px;
  background-color: var(--main-text-color);
}

.background {
  position: relative;
  width: 100%;
  height: 800px;
  z-index: 1;
}
.foreground {
  position: absolute;
  width: 100%;
  height: 800px;

  z-index: 10;
  top: 0;
  left: 0;
}

.title {
  position: absolute;
  z-index: 5;
  top: 0%;
  left: 33%;

  font-family: "DM Serif Display", serif;
  font-optical-sizing: auto;
  letter-spacing: 20px;
  font-style: normal;
  font-size: 300px;
  color: white;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  z-index: 50;
  right: 3%;
  top: 78%;
  width: 500px;
  height: 72.2px;

  border-radius: calc(72.2px / 2);
  padding-left: 30px;
  padding-right: 20px;

  transition: all 0.3s;
}

.subheader {
  background: linear-gradient(270deg, #580db8, #891367);
  background-size: 800% 800%;

  -webkit-animation: background-pan 7s ease infinite;
  -moz-animation: background-pan 7s ease infinite;
  -o-animation: background-pan 7s ease infinite;
  animation: background-pan 7s ease infinite;
}

@-webkit-keyframes background-pan {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-moz-keyframes background-pan {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-o-keyframes background-pan {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@keyframes background-pan {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
.subheader:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.subheading {
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.buttonWrapper {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 0.3s;
}

.buttonWrapper:hover {
  text-shadow: #522789;
}

/* MISSION PAGE */

.mission-div {
  position: relative;
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 0 5%;
  padding-top: 8rem;
}

.mission-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  color: var(--main-text-color);
}

.mission-textbox {
  margin-top: 4rem;
  margin-right: 3rem;
  width: 40%;
  font-size: 1.25rem;
}

.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 0.8em 0.5em;
  border: 2px solid var(--main-text-color);
  border-radius: 3rem;

  font-size: 1.2rem;

  background-image: linear-gradient(
    to left,
    #f1be60 50%,
    var(--main-text-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-in-out;
}
.btn-2:hover {
  background-position: left bottom;
  color: #f1be60;
}

.mission-image {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 40vw;
  object-fit: contain;

  transition: all 0.3s;
}

.mission-image img {
  position: relative;
  /* z-index: 5; */
}

.image-caption {
  position: absolute;
  display: block;
  width: 100%;

  opacity: 0;
  z-index: 1;

  bottom: 10%; /* Start off-screen from the top */
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 0;
  background-color: var(--main-text-color);
  color: #f1be60;
  transition: all 0.5s ease; /* Smooth transition for the top property */

  text-align: center;
}

.mission-image:hover .image-caption {
  opacity: 1;
  bottom: 0%; /* Slide in from the top on hover */
}

/* PHOTOGALLERY PAGE */

.photoGalleryPage {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #faf1ca;
}

.photoGallery-title {
  font-family: "PlayFair Display";
  text-align: center;
  font-size: 5rem;
  color: var(--main-text-color);
}
.photoGallery {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.image,
figure {
  width: 50vmin;
  height: 60vmin;
  object-fit: cover;
  object-position: center;
}
figure {
  position: relative;
  margin-left: 0.1%;
  filter: grayscale(100%);
  border: 5px solid #887e53;
  border-image: linear-gradient(270deg, #580db8, #891367) 1;

  transition: all 0.3s;
}
figcaption {
  z-index: -1;
  position: absolute;
  top: 92%;
  left: 3%;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  background-color: #262733;
  padding: 0 0.3rem;
  border-radius: 3px;
  transition: all 0.3s;
}
figure:hover {
  figcaption {
    z-index: 11;
  }
  filter: grayscale(0%);
}
#image-track {
  display: flex;
  /* gap: -6vmin; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}
