@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --main-text-color: #262733;
  --main-bg-color: #faf1ca;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
}
.navbar-divider {
  position: absolute;

  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #262733;

  transition: all 0.3s;
}
.navbar {
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  background-color: transparent;
  z-index: 100;
  padding-bottom: 0.5rem;

  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  transition: all 0.3s;
}

.navbar.normal {
  left: 5%;
  width: 91%;
  background-color: var(--main-bg-color);
}

.navbar.normal .links a,
.navbar.normal .links a:visited {
  text-decoration: none;
  color: var(--main-text-color);
}

.navbar.normal .logo {
  filter: invert(85%) hue-rotate(180deg);
}
.logo {
  height: 100%;

  flex: 1;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex: 2;
}

.links a,
.links a:visited {
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-family: "Comfortaa", sans-serif;
  transition: all 0.3s;
}
hr {
  border: none;
  background-color: white;
  height: 2px;
  width: 0%;
  border-radius: 2px;
  transition: all 0.3s;
}

.navbar .links a:hover {
  cursor: pointer;
  hr {
    width: 100%;
    background-color: white;
  }
}
.navbar.normal .links a:hover {
  cursor: pointer;
  hr {
    width: 100%;
    background-color: var(--main-text-color);
  }
}
.navbar.normal .explore {
  color: var(--main-text-color);
}
.navbar.normal .explore:hover .left-icon,
.navbar.normal .explore:hover .right-icon {
  background: #262733;
}
.explore {
  position: relative;
  color: #fff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;

  font-family: Comfortaa;
}
.left-icon,
.right-icon {
  width: 0;
  transition: all 0.3s;
}
.explore:hover .left-icon,
.explore:hover .right-icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 12px;
  height: 4px;
  background: #fff;
  border-radius: 40px;
  transition: all 0.5s;
}

.explore .left-icon {
  left: 5px;
  transform: rotate(45deg);
}

.explore.active .left-icon {
  transform: rotate(135deg);
}

.explore .right-icon {
  transform: rotate(-45deg);
}

.explore.active .right-icon {
  transform: rotate(-135deg);
}

.explore .items {
  position: absolute;
  top: 0;
  right: 0;
  width: 180%;
  margin-top: 30px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s;
}

.explore.active .items {
  visibility: visible;
}

.explore .items a {
  position: relative;
  left: 100%;
  display: flex;
  font-size: 16px;
  background: rgba(38, 39, 51, 0.8);
  color: #f1be60 !important;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 2.5px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--i));
}

.explore.active .items a {
  left: 0;
}

.explore .items a:hover {
  color: var(--main-text-color) !important;
}

.explore .items a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1be60;
  z-index: -1;
  border-radius: inherit;
  transform: rotate(160deg);
  transform-origin: right;
  transition: 0.5s;
}

.explore .items a:hover span {
  transform: rotate(0deg);
}

.account {
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: center;

  flex: 1;
}

.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0.5em;
  border: 2px solid var(--main-text-color);
  border-radius: 3rem;
  font-size: 1.2rem;
  background-image: linear-gradient(
    to left,
    #f1be60 50%,
    var(--main-text-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-in-out;
  overflow: hidden; /* Ensures the text stays within the button */
  white-space: nowrap; /* Prevents text wrapping */
}

.btn-2:hover {
  background-position: left bottom;
  color: #eca655;
}

.btn-2 {
  background-image: linear-gradient(
    to left,
    #eca655 50%,
    var(--main-text-color) 50%
  );
  color: var(--main-text-color);
  text-decoration: none;
  font-family: Comfortaa;
}

.btn-2.invert {
  background-image: linear-gradient(
    to left,
    var(--main-text-color) 50%,
    #eca655 50%
  );
  color: #eca655;
}

.btn-2.invert:hover {
  background-position: left bottom;
  color: var(--main-text-color);
}

/* FOR LOGOUT */

.logout-text {
  margin-left: 0.5rem;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.btn-2.logout {
  width: auto;
  transition: all 0.5s ease-in-out; /* Transition for width change */
}

.btn-2.logout:hover {
  /* color: var(--main-text-color);
  background-position: right bottom; */
  width: max-content; /* Adjust width as necessary */
}

.btn-2.logout:hover .logout-text {
  display: inline;
  opacity: 1;
}
