body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.photoGallery {
  height: 100vh;
  width: 100%;
  background-color: #faf1ca;
  overflow: hidden;
}

.image,
figure {
  width: 50vmin;
  height: 60vmin;
  object-fit: cover;
  object-position: center;
}
figure {
  position: relative;
  margin-left: 0.1%;
  filter: grayscale(100%);
  border: 5px solid #887e53;
  border-image: linear-gradient(270deg, #580db8, #891367) 1;

  transition: all 0.3s;
}
figcaption {
  z-index: -1;
  position: absolute;
  top: 92%;
  left: 3%;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  background-color: #262733;
  padding: 0 0.3rem;
  border-radius: 3px;
  transition: all 0.3s;
}
figure:hover {
  figcaption {
    z-index: 11;
  }
  filter: grayscale(0%);
}
#image-track {
  display: flex;
  /* gap: -6vmin; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}
