<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/coverPage.css">
</head>
<body>
    <!-- <section >
        
    </section> -->
    <!-- <div style="height: 100px;"></div> -->
    <section class="first">
        <div class="header">
            <div class="logo">
                <div>
                <img src="../../images/Logo-White.png" alt=""></div>
                <!-- <div id="logo-title">DARSHAN</div> -->
            </div>
            <div class="navBar">
                <!-- <div class="subNav"></div> -->
                <div class="subNav"><a href="">Home</a></div>
                <div class="subNav"><a href="">About</a></div>
                <div class="subNav"><a href="">Contribute</a></div>
                <div class="subNav " id="gradient_effect_button_orange"><a href="">Explore</a></div>
            </div>
        </div>
    <div class="wrapper">
   
    <div class='parallax'>
    <img class='subParallax'id='foreground' src="../../images/RawForeground.png" alt="" >
    <img class='subParallax' id="background" src="../../images/RawHero.png" alt="" >
    <h1 class="heading">INDIA</h1>
    
</div>
<div class="last">
    <div id="gradient_effect_button_purple">Revealing India's Eternal Jewels &nbsp;<span id="gradient_effect_button_orange">Explore Now!</span> </div>
    
</div>

</body>
</html>