<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/coverPage.css">
</head>
<body>
    <!-- <section >
        
    </section> -->
    <!-- <div style="height: 100px;"></div> -->
    <section class="first">
        <nav class="navbar">
            <div class="logo">
        
                <h1 style="margin-left: 1.875rem;">Darshan</h1>
            </div>
            <div class="logo-img"><img width=69 src="../../images/Logo-White.png" />
            </div>
            <div class="links">
                <span>Home</span>
                <span>About</span>
                <span>Contribute</span>
                <span class="explore-btn">Explore</span>
            </div>
        </nav>
    <div class="wrapper">
   
    <div class='parallax'>
    <img class='subParallax'id='foreground' src="../../images/RawForeground.png" alt="" >
    <img class='subParallax' id="background" src="../../images/RawHero.png" alt="" >
    <h1 class="heading">INDIA</h1>
    
</div>
<div class="last">
    <div id="gradient_effect_button_purple">Revealing India's Eternal Jewels &nbsp;<span class="explore-btn">Explore</span>
    
</div>

</body>
</html>