<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/photoGallery.css">
    <title>Document</title>
</head>

<body>
    <div id="image-track">
        <figure>
            <img src="../../images/photoGalleryImages/tajMahal.jpg" alt="" class="image" draggable="false">
            <figcaption>Taj Mahal</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/goldenTemple.jpg" alt="" class="image" draggable="false">
            <figcaption>Golden Temple</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/kashmir.jpg" alt="" class="image" draggable="false">
            <figcaption>Kashmir</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/hampi.jpg" alt="" class="image" draggable="false">
            <figcaption>Hampi</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/indianFood.jpg" alt="" class="image" draggable="false">
            <figcaption>Indian Food</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/hawaMahal.jpg" alt="" class="image" draggable="false">
            <figcaption>Hawa Mahal</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/qutubMinar.jpg" alt="" class="image" draggable="false">
            <figcaption>Qutub Minar</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/lakshadweep.jpeg" alt="" class="image" draggable="false">
            <figcaption>Lakshadweep</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/redFort.jpg" alt="" class="image" draggable="false">
            <figcaption>Red Fort</figcaption>
        </figure>
        <figure>
            <img src="../../images/photoGalleryImages/meenakshiTemple.jpg" alt="" class="image" draggable="false">
            <figcaption>Meenakshi Temple</figcaption>
        </figure>

    </div>
    <script src="../../public/js/photoGallery.js"></script>
</body>

</html>