<section id="featured">
  <div class="heading">
    <h1 id="featured__title">Discover By Category</h1>
  </div>
  <div class="cards">
    <div class="card c1">
      <img
        src="/images/Cards/240_F_582963567_zI2JD5h2svWRmUIJ49OXGZWLnqN3qzYN.jpg"
        alt=""
      />
      <div class="content">
        <h2>Indian Heritage</h2>
        <p>Explore timeless traditions that shape India's cultural tapestry.</p>
        <button class="featured-btn">Explore</button>
      </div>
    </div>
    <div class="card c2">
      <img src="/images/Cards/holi.jpg" alt="" />
      <div class="content">
        <h2>Indian Festivals</h2>
        <p>Experience the vibrant celebrations that color India's spirit.</p>
        <button
          class="featured-btn"
          onClick="window.location.href = 'http://localhost:3000/explore/festivals'"
        >
          Explore
        </button>
      </div>
    </div>
    <div class="card c3">
      <img src="/images/Cards/ancient art.jpg" alt="" />
      <div class="content">
        <h2>Ancient Arts</h2>
        <p>Discover the masterpieces that have inspired generations.</p>
        <button class="featured-btn">Explore</button>
      </div>
    </div>
  </div>
</section>
<hr class="pageBreak" />
