<div class="mission-div">
  <div class="mission-title">
    <h1 class="mission-title">Unveiling India's</h1>
    <h1 style="margin-left: 2rem" class="mission-title">Cultural Tapestry</h1>
  </div>
  <div class="mission-textbox">
    <p>
      At Darshan, our mission is to celebrate and preserve Indian heritage
      through our diverse services. We aim to educate global audiences, inspire
      cultural appreciation, and create meaningful experiences that honor
      India's rich traditions. Join us in connecting the world with the timeless
      beauty of India’s culture.
    </p>
  </div>
  <span style="width: 10%" class="btn-2">
    <a>Explore Now!</a>
  </span>

  <div class="mission-image">
    <img
      style="width: 100%; display: block"
      src="/Mehrangarh-Fort-Jodhpur.webp"
    />
    <span class="image-caption">Mehrangarh-Fort, Jodhpur</span>
  </div>
</div>
