<div class="photoGalleryPage">
  <h1 class="photoGallery-title">Explore Like Never Before!</h1>
  <div class="photoGallery">
    <div style="margin-top: 3rem" id="image-track">
      <figure>
        <img
          src="images/photoGalleryImages/tajMahal.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Taj Mahal</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/goldenTemple.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Golden Temple</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/kashmir.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Kashmir</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/hampi.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Hampi</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/indianFood.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Indian Food</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/hawaMahal.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Hawa Mahal</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/qutubMinar.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Qutub Minar</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/lakshadweep.jpeg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Lakshadweep</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/redFort.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Red Fort</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/meenakshiTemple.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Meenakshi Temple</figcaption>
      </figure>

      <!-- DUPLICATE TRACK -->
      <figure>
        <img
          src="images/photoGalleryImages/tajMahal.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Taj Mahal</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/goldenTemple.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Golden Temple</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/kashmir.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Kashmir</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/hampi.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Hampi</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/indianFood.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Indian Food</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/hawaMahal.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Hawa Mahal</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/qutubMinar.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Qutub Minar</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/lakshadweep.jpeg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Lakshadweep</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/redFort.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Red Fort</figcaption>
      </figure>
      <figure>
        <img
          src="images/photoGalleryImages/meenakshiTemple.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Meenakshi Temple</figcaption>
      </figure>
    </div>
  </div>
</div>
<hr class="pageBreak" id="featured__line-break" />
<script src="js/photoGallery.js"></script>
