<div class="photoGalleryPage">
  <h1 class="photoGallery-title">Explore Like Never Before!</h1>
  <div class="photoGallery">
    <div id="image-track">
      <figure>
        <img
          src="photoGalleryImages/tajMahal.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Taj Mahal</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/goldenTemple.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Golden Temple</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/kashmir.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Kashmir</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/hampi.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Hampi</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/indianFood.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Indian Food</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/hawaMahal.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Hawa Mahal</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/qutubMinar.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Qutub Minar</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/lakshadweep.jpeg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Lakshadweep</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/redFort.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Red Fort</figcaption>
      </figure>
      <figure>
        <img
          src="photoGalleryImages/meenakshiTemple.jpg"
          alt=""
          class="image"
          draggable="false"
        />
        <figcaption>Meenakshi Temple</figcaption>
      </figure>
    </div>
  </div>
</div>
<script src="js/photoGallery.js"></script>
